* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.logo-img {
  height: 40px;
  width: auto;
}

.search-container {
  flex: 1;
  max-width: 500px;
}

.search-form {
  display: flex;
  gap: 0.5rem;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 25px 0 0 25px;
  font-size: 1rem;
}

.search-btn {
  padding: 0.75rem 1.5rem;
  background: #007bff;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-icon  {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 20px;
  transition: background 0.3s;
  font-size: 30px;
  align-items: center;
  gap: 20px;
}
.login-btn{
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s;
}

.user-icon:hover, .login-btn:hover {
  background: #007bff;
}
/* Media queries */
/* @media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  
  .search-container {
    order: -1; /* Pesquisa no topo em mobile */
    /* width: 100%; */
  /* } */
  
  /* .user-actions {
    justify-content: flex-end; */
  /* }
}  */

